#root {
  background: url(https://i.pinimg.com/564x/ea/4d/a8/ea4da86876b0a830dd95b86a0dd3206c.jpg);
  background-size: cover;
}

.product-card-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.cart-bg {
  min-height: 100vh;
}

.cart-card {
  background-color: white;
  border-radius: 15px;
}

.newarrivals-container {
  min-height: 100vh;
}

.card-button {
  background-color: rgb(241, 189, 234) !important;
}

.btn-delete {
  background-color: pink !important;
  max-width: 150px;
}

.btn-plus {
  background-color: pink !important;
}

.btn-minus {
  background-color: pink !important;
}

.btn-add {
  background-color: pink !important;
}
